<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.michaelskoehler.mitgliedervz"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Vereins-Mitgliederverzeichnis</name>
 
    <description>
        Mitgliederliste von Verein xy zur schnellen Information und 
        Kontaktaufnahme unter Vereinsmitgliedern oder durch die Vereinsleitung.
    </description>
 
    <author href="http://www.michaelskoehler.de" email="mkoehler@uos.de">
        Michael Koehler
    </author>
    
    <icon src="img/icon.png" />
    
    <gap:platform name="android" />
 
 
 
</widget>